@media screen and (max-width:459px) {
	
body {
	background: url(fondo.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	height:80px;
	background: url(logo.png) no-repeat right;
}

}

/* ------------------------------- 460 ----------------------------------------------------------- */



body {
	background: url(fondo.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	height:80px;
	background: url(logo.png) no-repeat right;
}

}

/* ------------------------------- 768 ----------------------------------------------------------- */

@media screen and (min-width:768px) and (max-width:1029px) {
	
	
body {
	background: url(fondo.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	height:80px;
	background: url(logo.png) no-repeat right;
}

}

/* ------------------------------- 1030 ----------------------------------------------------------- */

@media screen and (min-width:1030px) {
	
body {
	background: url(fondo.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	height:80px;
	background: url(logo.png) no-repeat right;
}

}
