:root {
    --blue: #00363a;
    --green: #2eb363;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--blue);
}

@media (min-width: 1600px) {
    
    .contenedor-general {
        width: 100%;
        background-color: #fff;
    }
    .contenedor {
        width: 1465px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head-top {
        height: 14px;
        padding: 5px 0;
        background-color: var(--green);
    }
    .media-top {
        margin-left: -60px;
    }
    .media-top a {
        display: inline-block;
        margin-right: 10px;
    }
    .head-bot {
        margin-top: 1px;
        background-color: var(--blue);
        position: relative;
    }
    .head-bot .contenedor {
        height: 75px;
    }
    .menu-lista {
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 27px;
        color: #fff;
    }
    .boton-menu {
        padding: 10px;
        margin-left: 49px;
        font-size: 1.25em;
    }
    .user-box {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 27px;
    }
    .boton-user {
        display: block;
        margin-left: 10px;
        transition: transform 0.5s;
    }
    .boton-user:hover {
        transform: scale(1.5, 1.5);
    }
    .search {
        width: 21px;
        height: 21px;
        background: url(../img/search-icon.png) no-repeat;
    }
    .login {
        width: 22px;
        height: 21px;
        background: url(../img/login-icon.png) no-repeat;
    }
    .cart {
        width: 25px;
        height: 27px;
        background: url(../img/cart-icon.png) no-repeat;
    }
    .logo {
        width: 256px;
        height: 35px;
        background: url(../img/logo.png) no-repeat;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        margin-right: 180px;
    }
    .menu-lista li .sub-menu {
        display: none;
    }
    .menu-lista li:hover {
        background-color: #fff;
        color: var(--green);
    }
    .menu-lista li:hover .sub-menu {
        display: block;
        position: absolute;
        z-index: 100;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #fff;
        color: var(--blue);
    }
    .sub-menu-contenedor {
        width: 1465px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .sub-boton-menu {
        font-size: 1em;
        margin-top: 8px;
    }
    .first {
        font-weight: 600;
        margin: 16px 0;
    }
    .banner-top {
        height: 450px;
        background: url(../img/banner-imagen.jpg) center no-repeat;
        background-size: cover;
    }
    .banner-top .contenedor {
        height: 450px;
    }
    .banner-info {
        width: 391px;
        height: 272px;
        background: url(../img/banner-info.png) center no-repeat;
    }
    .info-compra {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #ebebeb;
    }
    .info-compra .contenedor {
        height: 81px;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 13px;
        justify-content: space-evenly;
    }
    .items-info-compra {
        display: flex;
        align-items: center;
    }
    .icon-info-compra {
        width: 59px;
        height: 59px;
        margin-right: 10px;
        transition: transform 0.5s;
    }
    .icon-info-compra:hover {
        transform: scale(1.1, 1.1);
    }
    .cuotas {
        background: url(../img/cuotas.png) center no-repeat;
    }
    .sucursales {
        background: url(../img/sucursales.png) center no-repeat;
    }
    .envios {
        background: url(../img/envios.png) center no-repeat;
    }
    .whatsapp {
        background: url(../img/wsp.png) center no-repeat;
    }
    .text-info-compra p {
        font-size: 1.125em;
        color: var(--blue);
        line-height: 24px;
        font-weight: 600;
    }
    .text-info-compra a {
        font-size: 0.75em;
        color: var(--green);
        line-height: 17px;
    }
    
    .presentacion h2 {
        font-size: 1.125em;
        line-height: 24px;
        color: var(--blue);
    }
    .presentacion p, .presentacion h1 {
        font-size: 20pt;
        line-height: 34pt;
        margin-bottom: 15px;
    }
    .presentacion strong {
        display: block;
        font-weight: bold;
    }
    .subrayado {
        display: block;
        width: 195px;
        height: 11px;
        margin: 5px 0;
        background-color: var(--green);
    }
    .bot-circular {
        display: block;
        border-radius: 50%;
        background-color: #fff;
        width: 50px;
        margin: 0 auto;
        font-size: 1.75em;
        line-height: 50px;
        color: var(--green);
        transition: transform 0.5s;
    }
    .cards {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .prod-dest .cards {
        width: 1465px;
        justify-content: space-evenly;
    }
    .marcas .cards {
        display: block;
    }
    .categ-dest {
        padding: 60px 0;
        background: url(../img/fondo01.png) left bottom no-repeat;
    }
    .categ-dest-column {
        width: 245px;
        height: 377px;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        margin-left: 40px;
    }
    .categ-dest-text {
        width: 245px;
        height: 161px;
        border-radius: 20px;
        background-color: var(--blue);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .categ-dest-text h3 {
        width: 245px;
        color: #fff;
        font-size: 1.375em;
        line-height: 30px;
        font-weight: 700;
    }
    .dest-porcelanatos {
        background: url(../img/dest-porcelanato.jpg) center no-repeat;
    }
    .dest-ceramicos {
        background: url(../img/dest-ceramicos.jpg) center no-repeat;
    }
    .dest-mallas {
        background: url(../img/dest-mallas.jpg) center no-repeat;
    }
    .dest-bachas {
        background: url(../img/dest-bachas.jpg) center no-repeat;
    }
    .prod-dest {
        background: url(../img/fondo02.png) -517px 10px no-repeat;
    }
    .prod-dest-titulo {
        width: 100%;
        margin: 100px auto;
    }
    .prod-dest-titulo h2 {
        text-align: center;
        font-size: 1.5625em;
        line-height: 34px;
    }
    .prod-dest-titulo .subrayado {
        margin: 5px auto;
    }
    .prod-dest-column, .ofertas-column {
        width: 347px;
        height: 510px;
    }
    .boton-comprar, .boton-vermas {
        display: block;
        width: 135px;
        background-color: var(--blue);
        border-radius: 5px;
        text-align: center;
        font-size: 0.8125em;
        color: #fff;
        line-height: 45px;
        transition: transform 0.5s;
    }
    .boton-vermas {
        background-color: var(--green);
    }
    
    .descrip-prod {
        font-size: 1.125em;
        line-height: 24px;
        margin-top: 30px;
        color: #000;
    }
    .precio-prod {
        font-size: 1.5em;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #000;
    }
    .banner-promo-cuotas {
        width: 1465px;
        height: 168px;
        margin: 90px auto;
        background: url(../img/promo-cuotas.png) center no-repeat;
    }
    .ofertas {
        padding: 100px 0;
        background: #F8F8F8 url(../img/fondo03.png) -517px bottom no-repeat;
    }
    .imagen-ofertas {
        position: relative;
    }
    .ofertas-column {
        margin-left: 20px;
    }
    .ofertas-column span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 137px;
        line-height: 24px;
        text-align: center;
        font-size: 0.8125em;
        color: #fff;
        background-color: var(--green);
    }
    .descuentos {
        padding: 100px 0;
    }
    .desc-column {
        width: 465px;
        height: 201px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .desc-griferias {
        background: url(../img/desc-griferias.jpg) center no-repeat;
    }
    .desc-bachas {
        background: url(../img/desc-bachas.jpg) center no-repeat;
    }
    .desc-construccion {
        background: url(../img/desc-construccion.jpg) center no-repeat;
    }
    .titulo-desc {
        width: 222px;
        background-color: #fff;
        color: var(--green);
        font-size: 2em;
        line-height: 43px;
        font-weight: 600;
        text-align: center;
    }
    .info-desc {
        width: 141px;
        height: 159px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        margin-right: 40px;
    }
    .info-desc p {
        font-weight: 700;
        font-size: 1.0625em;
    }
    .info-desc .desc-porc {
        font-size: 3.25em;
        line-height: 71px;
    }
    .boton-vermas.invertido {
        margin: 22px auto;
        background-color: #fff;
        color: var(--green);
        width: 78px;
        line-height: 28px;
    }
    .marcas-column {
        width: 824px;
        margin-right: 150px;
    }
    .pie {
        margin-top: 100px;
        color: #fff;
    }
    .pie .subrayado {
        background-color: #fff;
        width: 74px;
        height: 2px;
        margin-bottom: 20px;
    }
    .info-pie {
        height: 319px;
        background-color: var(--blue);
        border-top: 9px solid var(--green);
    }
    .info-pie .contenedor {
        height: 319px;
        align-items: center;
        font-family: 'Karla', sans-serif;
        font-size: 0.9375em;
        line-height: 18px;
    }
    .info-pie-column {
        height: 172px;
    }
    .info-pie li ul li {
        padding-top: 10px;
    }
    .titulo-pie {
        font-size: 1.8125em;
        line-height: 34px;
    }
    .media-bot li {
        display: inline-block;
        margin-right: 10px;
    }
    .icon-contacto {
        display: inline-block;
        margin-right: 10px;
        width: 24px;
        height: 18px;
    }
    .adress {
        background: url(../img/adress.png) center no-repeat;
    }
    .phone {
        background: url(../img/phone.png) center no-repeat;
    }
    .mail {
        background: url(../img/mail.png) center no-repeat;
    }
    .copyright {
        background-color: var(--green);
    }
    .copyright .contenedor {
        height: 69px;
        font-family: 'Lato', sans-serif;
    }
    .logo-wuala {
        width: 64px;
        height: 20px;
        display: inline-block;
        background: url(../img/wuala-logo.png) center no-repeat;
    }
    
    .boton-comprar:hover, .boton-vermas:hover, .bot-circular:hover {
        transform: scale(1.3,1.3);
    }
    


}