:root {
    --blue: #00363a;
    --green: #2eb363;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--blue);
    background-color: #000;
}

@media (min-width: 640px) {
    .contenedor-general {
        width: 640px;
        background-color: #fff;
        margin: 0 auto;
    }
    .contenedor {
        width: 640px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head-top {
        height: 49px;
        background-color: var(--green);
    }
    .media-top {
        height: 49px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .media-top a {
        display: inline-block;
        margin-right: 10px;
    }
    .head-bot {
        margin-top: 1px;
        background-color: var(--blue);
    }
    .head-bot .contenedor {
        width: 600px;
        padding: 0 20px;
        height: 103px;
        position: relative;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        margin-right: 10px;
    }
    .menu-lista {
        display: none;
    }
    .nav {
        width: 36px;
        height: 32px;
        background: url(../img/menu.png) no-repeat;
    }
    .nav:hover .menu-lista {
        display: block;
        position: absolute;
        z-index: 100;
        top: 68px;
        right: 0;
        background-color: #fff;
        width: 640px;
    }
    .menu-lista li .sub-menu {
        display: none;
    }
    .menu-lista li:hover {
        background-color: #fff;
        color: var(--green);
    }
    .menu-lista li:hover .sub-menu {
        display: block;
        position: absolute;
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        color: var(--blue);
    }
    .sub-menu-contenedor {
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    .sub-boton-menu {
        font-size: 1em;
        margin-top: 8px;
    }
    .boton-menu {
        padding: 10px;
        margin-left: 49px;
        font-size: 1.25em;
    }
    .first {
        font-weight: 600;
        margin: 16px 0;
    }
    .user-box {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 36px;
    }
    .boton-user {
        display: block;
        margin-right: 10px;
    }
    .search {
        width: 32px;
        height: 32px;
        background: url(../img/search-icon.png) no-repeat;
    }
    .login {
        width: 25px;
        height: 32px;
        background: url(../img/login-icon.png) no-repeat;
    }
    .cart {
        width: 31px;
        height: 36px;
        background: url(../img/cart-icon.png) no-repeat;
    }
    .logo {
        width: 284px;
        height: 39px;
        background: url(../img/logo.png) no-repeat;
    }
    .banner-top {
        height: 500px;
        background: url(../img/banner-imagen.jpg) left no-repeat;
        background-size: cover;
    }
    .banner-top .contenedor {
        height: 450px;
    }
    .banner-info {
        width: 391px;
        height: 272px;
        margin-left: 20px;
        background: url(../img/banner-info.png) left center no-repeat;
    }
    .info-compra {
        display: flex;
        align-items: center;
        height: 124px;
        background-color: #ebebeb;
    }
    .info-compra .contenedor {
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 105px;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 13px;
        margin: 0 10px;
    }
    .items-info-compra {
        width: 300px;
        scroll-snap-align: center;
        display: flex;
        align-items: center;
    }
    .icon-info-compra {
        width: 59px;
        height: 59px;
        margin-right: 10px;
    }
    .cuotas {
        background: url(../img/cuotas.png) center no-repeat;
    }
    .sucursales {
        background: url(../img/sucursales.png) center no-repeat;
    }
    .envios {
        background: url(../img/envios.png) center no-repeat;
    }
    .whatsapp {
        background: url(../img/wsp.png) center no-repeat;
    }
    .text-info-compra p {
        font-size: 1.125em;
        color: var(--blue);
        line-height: 24px;
        font-weight: 600;
    }
    .text-info-compra a {
        font-size: 0.75em;
        color: var(--green);
        line-height: 17px;
    }
    .presentacion {
        margin: 0 auto;
    }
    .presentacion h2 {
        font-size: 1.125em;
        line-height: 24px;
        color: var(--blue);
    }
    .presentacion p, .presentacion h1 {
        font-size: 20pt;
        line-height: 34pt;
        margin-bottom: 15px;
    }
    .presentacion strong {
        display: block;
        font-weight: bold;
    }
    .subrayado {
        display: block;
        width: 195px;
        height: 11px;
        margin: 5px 0;
        background-color: var(--green);
    }
    .bot-circular {
        display: block;
        border-radius: 50%;
        background-color: #fff;
        width: 50px;
        margin: 0 auto;
        font-size: 1.75em;
        line-height: 50px;
        color: var(--green);
    }
    .categ-dest {
        padding: 60px 0 20px 0;
        background: url(../img/fondo01.png) left bottom no-repeat;
    }
    .categ-dest .contenedor, .ofertas .contenedor, .marcas .contenedor {
        flex-wrap: wrap;
    }
    .cards {
        width: 640px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
        scroll-snap-type: x mandatory;
        -webkit-scroll-snap-type: x mandatory;
        -ms-scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .categ-dest .cards {
        height: 450px;
    }
    .categ-dest-column {
        scroll-snap-align: center;
        margin-left: 50px;
        width: 245px;
        height: 395px;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
    }
    .categ-dest-text {
        width: 245px;
        height: 161px;
        border-radius: 20px;
        background-color: var(--blue);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .categ-dest-text h3 {
        width: 245px;
        color: #fff;
        font-size: 1.375em;
        line-height: 30px;
        font-weight: 700;
    }
    .dest-porcelanatos {
        background: url(../img/dest-porcelanato.jpg) center no-repeat;
    }
    .dest-ceramicos {
        background: url(../img/dest-ceramicos.jpg) center no-repeat;
    }
    .dest-mallas {
        background: url(../img/dest-mallas.jpg) center no-repeat;
    }
    .dest-bachas {
        background: url(../img/dest-bachas.jpg) center no-repeat;
    }
    .prod-dest {
        margin-top: 50px;
        background: url(../img/fondo02.png) -517px 10px no-repeat;
    }
    .prod-dest-titulo {
        width: 100%;
        margin: 0px auto;
    }
    .prod-dest-titulo h2 {
        text-align: center;
        font-size: 1.5625em;
        line-height: 34px;
    }
    .prod-dest-titulo .subrayado {
        margin: 5px auto;
    }
    .prod-dest .cards, .ofertas .cards {
        height: 560px;
    }
    .prod-dest-column, .ofertas-column {
        width: 347px;
        height: 510px;
        scroll-snap-align: center;
        margin-left: 20px;
    }
    .boton-comprar, .boton-vermas {
        display: block;
        width: 135px;
        background-color: var(--blue);
        border-radius: 5px;
        text-align: center;
        font-size: 0.8125em;
        color: #fff;
        line-height: 45px;
    }
    .boton-vermas {
        background-color: var(--green);
    }
    .descrip-prod {
        font-size: 1.125em;
        line-height: 24px;
        margin-top: 30px;
        color: #000;
    }
    .precio-prod {
        font-size: 1.5em;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #000;
    }
    .banner-promo-cuotas {
        width: 640px;
        height: 242px;
        margin: 0 auto;
        background: url(../img/promo-cuotas.png) center no-repeat;
    }
    .ofertas {
        background: #F8F8F8 url(../img/fondo03.png) -517px bottom no-repeat;
    }
    .imagen-ofertas {
        position: relative;
    }
    .ofertas-column span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 137px;
        line-height: 24px;
        text-align: center;
        font-size: 0.8125em;
        color: #fff;
        background-color: var(--green);
    }
    .descuentos .contenedor {
        flex-wrap: wrap;
    }
    .desc-column {
        width: 640px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px auto;
    }
    .desc-griferias {
        background: url(../img/desc-griferias.jpg) center no-repeat;
    }
    .desc-bachas {
        background: url(../img/desc-bachas.jpg) center no-repeat;
    }
    .desc-construccion {
        background: url(../img/desc-construccion.jpg) center no-repeat;
    }
    .titulo-desc {
        width: 222px;
        background-color: #fff;
        color: var(--green);
        font-size: 2em;
        line-height: 43px;
        font-weight: 600;
        text-align: center;
    }
    .info-desc {
        width: 141px;
        height: 159px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        margin-right: 40px;
    }
    .info-desc p {
        font-weight: 700;
        font-size: 1.0625em;
    }
    .info-desc .desc-porc {
        font-size: 3.25em;
        line-height: 71px;
    }
    .boton-vermas.invertido {
        margin: 22px auto;
        background-color: #fff;
        color: var(--green);
        width: 78px;
        line-height: 28px;
    }
    .marcas .cards {
        height: 170px;
    }
    .marcas-column {
        padding-left: 55px;
    }
    .pie {
        color: #fff;
    }
    .pie .subrayado {
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    .info-pie {
        background-color: var(--blue);
        border-top: 9px solid var(--green);
    }
    .info-pie .contenedor {
        width: 600px;
        padding: 20px;
        display: block;
        align-items: center;
        font-family: 'Karla', sans-serif;
        font-size: 0.9375em;
        line-height: 18px;
    }
    .titulo-pie {
        width: 100%;
        font-size: 1.3125em;
        line-height: 50px;
        text-transform: uppercase;
    }
    .info-pie li ul {
        display: none;
    }
    .info-pie li:hover>ul {
        display: block;
    }
    .info-pie li ul li {
        padding-top: 10px;
    }
    .media-bot li {
        display: inline-block;
        margin-right: 10px;
    }
    .icon-contacto {
        display: inline-block;
        margin-right: 10px;
        width: 24px;
        height: 18px;
    }
    .adress {
        background: url(../img/adress.png) center no-repeat;
    }
    .phone {
        background: url(../img/phone.png) center no-repeat;
    }
    .mail {
        background: url(../img/mail.png) center no-repeat;
    }
    .logo-pie {
        display: none;
    }
    .copyright {
        background-color: var(--green);
    }
    .copyright .contenedor {
        width: 600px;
        padding: 20px;
        height: 134px;
        font-family: 'Lato', sans-serif;
        font-size: 1.1875em;
        line-height: 31px;
    }
    .logo-wuala {
        width: 78px;
        height: 24px;
        display: inline-block;
        background: url(../img/logo-wuala.png) center no-repeat;
    }
}